<div class="card p-2 text-dark" >
  <h2 class="font-weight-bold"><%= pet.name %></h2>
  <div>
    <p><%= pet.address %></p>
    <p class="font-weight-bold"><%= pet.price_per_day %>$/day</p>
  </div>
</div>
