<section id="footer">
  <div class="d-flex flex-column align-items-center justify-content-center py-2">
    <div class="return-to-top d-flex flex-column align-items-center mb-2">
      <p class="return-question">Shall we head back up?</p>
      <a href="#home" data-toggle="tooltip" data-placement="bottom" title="Back to the top"><i class="fas fa-angle-double-up"></i></a>
    </div>
    <!-- <hr class="my-2"> -->
    <!-- <div class="footer-links d-flex align-items-center">
      <div class="d-flex align-items-center">
        <p class="footer-connect p-0 m-0 through">Connect<i class="fas fa-angle-double-right mx-2"></i></p>
      </div>
      <%#= link_to root_path, class: "facebook-icon" do %>
        <i class="fab fa-facebook-square"></i>
      <%# end %>
      <%#= link_to root_path, class: "instagram-icon" do %>
        <i class="fab fa-instagram"></i>
      <%# end %>
    </div> -->
    <!-- <hr class="my-2"> -->
    <div class="d-flex align-items-center">
      <p class="footer-design p-0 m-0">Designed with <i class="fas fa-heart"></i> by Melissa, Danko, Arman, Khoa</p>
    </div>
  </div>
</section>
