<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Find a <strong>furry friend</strong> to enjoy your <strong>free time</strong>!</h1>
    <p>Spent time with a pet without owning one.</p>
  </div>
</div>


<div class="container">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
<%= current_user.email %>
<% end %>


</div>


assets/images/banner_photo_dog.jpg
