<div class="banner banner-lg" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Find a <strong>furry friend</strong> to enjoy your <strong>free time</strong>!</h1>
    <p>Spend time with a pet without owning one.</p>
    <form class="form-inline my-2 my-lg-0" action="/pets/search" method="get">
      <input class="form-control-lg mr-sm-2" type="text" name="species" placeholder="Search..." aria-label="Search">
      <button class="btn btn-lg text-white button my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container mt-3 mb-3 pt-3 pb-3">

  <h2><strong>Dogs</strong> from around the world</h2>
  <div class="row p-4">
    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=960&q=80" alt="Card Zozzo" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Zozzo</h4></li>
          <li>Species: Dog</li>
          <li>Location: Barcelona, Spain</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1512546321483-c0468b7b8a95?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80" alt="Card Rocco" alt="Card Rocco" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Rocco</h4></li>
          <li>Species: Dog</li>
          <li>Location: Berlin, Germany</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card Molly" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Molly</h4></li>
          <li>Species: Dog</li>
          <li>Location: London, England</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>
  </div>

<h2><strong>Cats</strong> from around the world</h2>
  <div class="row p-4">
    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1445499348736-29b6cdfc03b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Card Cat" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Kitty</h4></li>
          <li>Species: Cat</li>
          <li>Location: Madrid, Spain</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80" alt="Card Cat" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Lotti</h4></li>
          <li>Species: Cat</li>
          <li>Location: Frankfurt, Germany</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1511044568932-338cba0ad803?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Card Cat" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Hedwig</h4></li>
          <li>Species: Cat</li>
          <li>Location: Buenos Aires, Argentina</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>
  </div>

<h2><strong>Goats</strong> from around the world</h2>
  <div class="row p-4">
    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1532356948574-9f03b5dcd0b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1872&q=80" alt="Card Cat" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Rudolph</h4></li>
          <li>Species: Goat</li>
          <li>Location: Zurich, Switzerland</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1538724426109-5c5dce0bd7f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2132&q=80" alt="Card Cat" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Ernst</h4></li>
          <li>Species: Goat</li>
          <li>Location: Salzburg, Austria</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card p-3 mt-2 text-dark">
        <img class="card-img-top my-image" src="https://images.unsplash.com/photo-1533318087102-b3ad366ed041?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Card Cat" style="height: 200px;">
        <ul class="list-unstyled mt-2">
          <li><h4 class="font-weight-bold">Luis</h4></li>
          <li>Species: Goat</li>
          <li>Location: Bogota, Colombia</li>
        </ul>
        <div class="d-flex justify-content-end">
        </div>
      </div>
    </div>
  </div>





</div>

