<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Find a <strong>furry friend</strong> to enjoy your <strong>free time</strong>!</h1>
    <p>Spent time with a pet without owning one.</p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control-lg mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
      <button class="btn btn-lg text-white button my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container mt-3 mb-3">
  <h1>Pages#home</h1>>

  <% if user_signed_in? %>
  <%= current_user.email %>
  <% end %>


</div>

