.banner {
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.banner-lg {
  height: 100vh;
}

.banner-md {
  height: 70vh;
}

.banner-sm {
  height: 50vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-form {
  border: 1px;
  border-radius: 5px;
  background-color: white;
}
