.btn-red {
  background-color: #FF4B4B;
  color: white;
}

.btn-red:hover {
  background-color: red;
  color: white;
}

.btn-outline-red {
  border: 1px solid #FF4B4B;
  color: #FF4B4B;
}

.btn-outline-red:hover {
  background-color: #FF4B4B;
  color: white;
  text-decoration: none;
}
