#footer {
  background-color: #383838;
}

.return-to-top {
  color: white;
}

.return-question {
  font-weight: bold;
  font-size: 16px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: white;
}

.tooltip-inner {
  font-size: 15px;
  padding: 10px 15px;
  background: white;
  color: black;
}

.return-to-top a:hover {
  text-decoration: none;
}

.return-to-top i {
  background-color: #FF4B4B;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 30px;
  color: white;
}

.footer-links a {
  display: inline-block;
  opacity: 0.5;
  color: white;
  font-size: 24px;
  padding: 0 8px;
  border-radius: 5px;
}

.footer-links a:hover, .footer-design:hover {
  opacity: 1;
}

.facebook-icon:hover {
  background-color: #3B5998;
}

.instagram-icon:hover {
  background-color: #DC6149;
}

.footer-connect, .footer-design {
  color: white;
}

.footer-design {
  opacity: 0.7;
}

.footer-connect i, .footer-design i {
  color: red;
}
