.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 22px;
  line-height: 25px;
  padding: 5px 10px;
  transition: 0.5s;
}

.navbar.scrolled {
  background-color: white;
  transition: background 2s;
}

.navbar-dark.scrolled .navbar-nav .nav-link {
  color: black;
}

.navbar.scrolled {
  transition: background 2s;
  border-bottom: 1px solid $light-gray;
}

