.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: Montserrat;
  font-size: 20px;
}

.navbar-log {
  display: flex
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.heart-icon {
  color: red;
}
